@charset "UTF-8";
input:invalid {
  border-left: 2px solid #ff8181;
}

textarea:invalid {
  border-left: 2px solid #ff8181;
}

select:invalid {
  border-left: 2px solid #ff8181;
}

.field-wrapper {
  position: relative;
}

.field-wrapper__disabled {
  z-index: 900;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
}

.field-table {
  width: 60%;
  margin-right: 10px;
}

.field-container {
  background-color: transparent;
}

.field-row {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.field-block {
  display: inline-block;
  vertical-align: bottom;
  width: 33%;
}

.field-block_huge {
  width: 73%;
}

.field-block_half {
  width: 50%;
}

.field-block_full {
  width: 100%;
}

.field-block__wrapper {
  position: relative;
  margin-left: 10px;
}

.field-block__wrapper span {
  float: right;
}

.field-block__wrapper_item {
  background-color: transparent;
  border: none;
  height: 24px;
  /* IE6-9 fix*/
  line-height: 24px;
  width: 100%;
  outline: none;
  padding: 0;
  z-index: 0;
  font-size: 12px;
  margin-top: 2px;
  -webkit-box-shadow: inset 0 0 0 5px #fff !important;
          box-shadow: inset 0 0 0 5px #fff !important;
  /* opera fix*/
}

.field-block__wrapper_item_item textarea {
  resize: none;
  margin-top: 1%;
  /* иначе прилипает текст при больших размерах */
}

.field-block__wrapper_item_item p {
  border-bottom: 2px gray;
  padding-top: 2px;
}

.likePlaceholder {
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color,bottom,transform;
  -webkit-transition-property: color,bottom,-webkit-transform;
  transition-property: color,bottom,-webkit-transform;
  transition-property: color,bottom,transform;
  transition-property: color,bottom,transform,-webkit-transform;
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  bottom: 10%;
  left: 3px;
}

.borderPseudo {
  background-color: #d8d8d8;
  height: 1px;
}

.borderPseudo.borderPseudoLine {
  background-color: orange;
  height: 2px;
}

.likeLabel {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  color: gray;
  font-weight: 600;
  left: -4px;
  bottom: 100%;
  width: 110%;
  /*Когда текст немного больше блока*/
  top: -12px;
  white-space: nowrap;
}

.lineIt {
  background-color: orange;
  -webkit-transform-origin: 90px center 0px;
          transform-origin: 90px center 0px;
  position: absolute;
  width: 100%;
  bottom: -2px;
  height: 2px;
}

.align-right {
  float: right;
}

.tbl-container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tbl-header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  font-weight: bold;
}

.tbl-row {
  border-bottom: 1px solid #d8d8d8;
}

.tbl-row:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 1%, #cccccc 100%);
  border-bottom: 1px solid orange;
}

.tbl-3Block {
  width: 32.3%;
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: pre-line;
  vertical-align: middle;
}

.tbl-3Block-20per {
  width: 16%;
}

.tbl-3Block-10per {
  width: 10%;
}

.tbl-3Block > input[type="button"] {
  width: initial;
  height: initial;
}

.tbl-block {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  min-width: 100px;
  max-width: 100px;
}

.tbl-block_lit {
  min-width: 25px;
  max-width: 25px;
}

.tbl-block_sm {
  min-width: 68px;
  max-width: 68px;
}

.tbl-block_huge {
  min-width: 120px;
  max-width: 120px;
}

.tbl-block_lg {
  min-width: 190px;
  max-width: 190px;
}

.tbl-noCenter {
  text-align: initial;
}

.tbl-footer {
  text-align: center;
  border-top: 3px solid orange;
}

.htooltip:hover span {
  opacity: 1;
  visibility: visible;
}

.htooltip span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #eeeeee), to(#cccccc));
  background: linear-gradient(to bottom, #eeeeee 80%, #cccccc 100%);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-left: 60px;
  margin-top: -10px;
  opacity: 1;
  padding: 10px 10px 10px 10px;
  position: absolute;
  text-decoration: none;
  visibility: hidden;
  z-index: 10;
  border: 1px orange solid;
  width: 250px;
}

.boldIt {
  font-weight: 600;
}

/* индикатор загрузки */
.bar {
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: #cdcdcd;
}

.bar-wrapper {
  -webkit-animation-delay: 1.56s;
          animation-delay: 1.56s;
}

.bar-wrapper .bar {
  -webkit-animation: loadingJ 8s cubic-bezier(0.17, 0.17, 0.17, 0.17) infinite;
          animation: loadingJ 8s cubic-bezier(0.17, 0.17, 0.17, 0.17) infinite;
}

@-webkit-keyframes loadingJ {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    background-color: orange;
    width: 25px;
  }
}

@keyframes loadingJ {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    background-color: orange;
    width: 25px;
  }
}

/* Слайдер загрузки в таблицах*/
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10% 20%;
}

.lds-ring.centered {
  margin: 0% 20%;
}

.lds-ring.list-ring {
  margin: -14px -13px;
}

.lds-ring.list-ring div {
  width: 15px;
  height: 15px;
  border: 3px solid #faa200;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.7, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.7, 0, 0.5, 1) infinite;
  border-color: #faa200 transparent transparent transparent;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 6px solid orange;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #faa200 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

/*
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 10% 20%;
}
.lds-ring.centered {
  margin: 0% 50%;
}
.lds-ring.list-ring {
  margin: -13px -15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 6px solid #ff6600;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff6600 transparent transparent transparent;
}
.lds-ring.list-ring div{
  width: 15px;
  height: 15px;
  border: 3px solid #ff6600;
  animation: lds-ring 1.2s cubic-bezier(0.7, 0, 0.5, 1) infinite;
  border-color: #ff6600 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}*/
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* modal */
@media only screen and (min-width: 600px) {
  .v-snack__wrapper {
    width: auto;
    max-width: 568px;
    min-width: 288px;
    margin: 0 auto;
    border-radius: 2px;
  }
}

.v-snack {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  pointer-events: none;
  z-index: 1000;
  font-size: 14px;
  left: 0;
  right: 0;
}

.v-snack--top {
  top: 0;
  position: fixed;
  left: -40%;
}

.v-snack--bottom {
  bottom: 0;
  left: -40%;
  position: fixed;
}

.v-snack__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323232;
  pointer-events: auto;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.v-snack__wrapper_info {
  background-color: #ff9900;
  border-color: #ff9900;
}

.v-snack__wrapper_error {
  background-color: #ff8181;
  border-color: #ff8181;
}

.v-snack__content {
  width: 100%;
  padding: 14px 24px;
  margin: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  color: white;
}

/*=================Close btn=================*/
.closeContainer {
  position: relative;
  margin-top: -6%;
  cursor: pointer;
}

.closeContainer:hover a {
  opacity: 1;
}

.close {
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close:before, .close:after {
  position: absolute;
  top: -4px;
  left: 10px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #fff;
  background: #fff;
}

/* lift */
.liftUp {
  top: 0;
  right: 0;
  height: 100%;
  position: fixed;
  background: -webkit-gradient(linear, left top, right top, color-stop(29%, #eeeeee), to(#cccccc));
  background: linear-gradient(to right, #eeeeee 29%, #cccccc 100%);
  opacity: 0.4;
}

.liftUp:hover {
  opacity: 1.0;
}

.liftUp-msg {
  display: block;
  font-size: 12.5px;
  font-weight: 700;
  padding: 40px 20px;
}
/*# sourceMappingURL=MyExtStyle.css.map */